button {
    border-radius: revert;
    border: none;
}

.performance-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    padding: 20px 0 10px 0;
    font-size: 32px;
}

.performance-img {
    max-width: 50%;
    min-width: 750px;
    margin: 10px auto;
}

.modal-img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .performance-img {
        max-width: 92%;
        margin: 5px auto;
        min-width: unset;
    }
  }