<div>
  <br>
  <form style = "padding: 1em; text-align: center"
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">

      <label for="name">Name:</label><br>
      <input type="text" name="name" id="name" formControlName="name">

      <br>
      <label for="email">Email:</label><br>
      <input type="text" name="email" id="email" formControlName="email">
      <div *ngIf="form.get('email').hasError('pattern')" class="error">Please enter a valid email address.</div>

      <br>
      <label for="message">Message:</label><br>
      <input type="text" name="message" id="message" formControlName="message">

      <div *ngIf="checkBlankFields()" class="error">Please fill out all fields.</div>

      <br>
      <button type="submit" style="background-color: #168cb2; color: white" [disabled]="!form.valid">Send!</button>
  </form>
</div>
