

input {
    margin: .5em;
    left: 2em;
    transition: border 200ms ease;
    transition-property: border;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    color: #2e3638;
    background: #fff;
}

.error {
  color:#b41212;
}

div {
  background-color:gainsboro;
  /* font-family: 'proxima-nova', sans-serif; */
}
