.shiritori {
    margin-left: 100px;
    float: left;
}

.points, .leaderboard {
    float: left;
}

.instructions {
    margin: 20px;
    margin-bottom: 10px;
}

h2 {
    margin-left: 100px
}

.instructions p {
    margin: 5px;
}

.shiritori p {
    margin-top: 10px;
}

:host >>> .alert-custom {
    color: #99004d;
    background-color: #ffcccb;
    border-color: #800040;
}

:host >>> .alert-custom2 {
color: #1e5631;
background-color: #acdf87;
border-color: #4c9a2a;
}

.alert p {
    margin: 0px;
}