.object-fit {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: block;
}

.gallery-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: fit-content;
  margin: 10px auto;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
  height: auto;
  margin-bottom: 30px;
}

.gallery-img {
  min-height: 400px;
}

.gallery-img-src {
  height: 400px;
  margin: 5px;
}

.img-group-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100vw;
  flex-wrap: wrap;
}

.img-grp {
  width: 16vw;
}

p {
  margin: 10px auto;
}

.text {
  font-size: 24px;
}

.wrap {
  max-width: 550px;
}

.centered {
  margin: 10px auto;
  text-align: center;
}
