<div class="gallery-imgs">
  <p class="title text"><br>Here are some pictures</p>
  <div class="gallery-row">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1610.jpg')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1620.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1596.JPG')">
  </div>

  <p class="title text">Of me of course.</p>
  <div class="gallery-row">
    <img class="gallery-img-src" [src]="imgUrl('IMG_0936.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_7973.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_7972.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1146.jpg')">
  </div>

  <p class="title text">Here's me with my friends.</p>
  <div class="gallery-row">
    <!-- <img class="gallery-img-src" [src]="imgUrl('IMG_1605.jpg')"> -->
    <img class="gallery-img-src" [src]="imgUrl('IMG_2136.jpg')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1613.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1597.JPG')">
  </div>

  <p class="title text">Some more friends</p>
  <div class="gallery-row">
    <img class="gallery-img-src" [src]="imgUrl('IMG_0441.jpg')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_0680.jpg')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_9365.jpg')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1824.jpg')">
  </div>

  <p class="title text">And even more friends.</p>
  <div class="gallery-row">
    <img class="gallery-img-src" [src]="imgUrl('IMG_0549.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_0662.jpg')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1823.jpg')">
  </div>

  <p class="title text">But to be honest.</p>
  <div class="gallery-row">
    <img class="gallery-img-src" [src]="imgUrl('IMG_8227.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1114.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_1627.jpg')">
  </div>

  <p class="title text">Friends are pretty lame. Here are some cute pet pics instead.</p>
  <div class="gallery-row">
    <img class="gallery-img-src" [src]="imgUrl('IMG_0519.JPG')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_2233.jpg')">
    <img class="gallery-img-src" [src]="imgUrl('IMG_2222.jpg')">
  </div>
</div>
