<p>My gallery would go here... if I had one!</p>
<p>Oh... I do have one.</p>

<div class="home-imgs">
    <!-- <p class="title text wrap">This website is a small window.</p>
    <div class="home-img object-fit">
      <img #img6 [ngStyle]="{'height.px': images[5].height / images[5].width * 500}" class="img-src" [src]="imgUrl('IMG_0936.JPG')">
    </div>
    <p class="title text wrap">Looking out onto the vast expanse</p>
    <div class="home-img object-fit">
      <img #img7 [ngStyle]="{'height.px': images[6].height / images[6].width * 500}" class="img-src" [src]="imgUrl('IMG_1114.JPG')">
    </div>
    <p class="title text wrap">That is my life.</p>
    <div class="home-img object-fit">
      <img #img8 [ngStyle]="{'height.px': images[7].height / images[7].width * 500}" class="img-src" [src]="imgUrl('IMG_7973.JPG')">
    </div>
    <p class="title text">This website is a reminder to myself.</p>
    <div class="home-img object-fit">
      <img #img9 [ngStyle]="{'height.px': images[8].height / images[8].width * 500}" class="img-src" [src]="imgUrl('IMG_1537.JPG')">
    </div>
    <p class="title text">So that I can remember</p>
    <div class="home-img object-fit">
      <img #img10 [ngStyle]="{'height.px': images[9].height / images[9].width * 500}" class="img-src" [src]="imgUrl('IMG_1597.JPG')">
    </div>
    <p class="title text">That life isn't all that bad.</p>
    <div class="home-img object-fit">
      <img #img11 [ngStyle]="{'height.px': images[10].height / images[10].width * 500}" class="img-src" [src]="imgUrl('IMG_1598.JPG')">
    </div>
    <p class="title text">Not bad at all.</p>
    <div class="img-group-div">
      <div class="img-grp object-fit">
        <img #img12 [ngStyle]="{'height.vw': images[11].height / images[11].width * 16}" class="img-grp" [src]="imgUrl('IMG_0054.JPG')">
      </div>
      <div class="img-grp object-fit">
        <img #img13 [ngStyle]="{'height.vw': images[12].height / images[12].width * 16}" class="img-grp" [src]="imgUrl('IMG_8524.JPG')">
      </div>
      <div class="img-grp object-fit">
        <img #img14 [ngStyle]="{'height.vw': images[13].height / images[13].width * 16}" class="img-grp" [src]="imgUrl('IMG_0441.jpg')">
      </div>
      <div class="img-grp object-fit">
        <img #img15 [ngStyle]="{'height.vw': images[14].height / images[14].width * 16}" class="img-grp" [src]="imgUrl('IMG_0110.JPG')">
      </div>
      <div class="img-grp object-fit">
        <img #img16 [ngStyle]="{'height.vw': images[15].height / images[15].width * 16}" class="img-grp" [src]="imgUrl('IMG_0549.JPG')">
      </div>
      <div class="img-grp object-fit">
        <img #img17 [ngStyle]="{'height.vw': images[16].height / images[16].width * 16}" class="img-grp" [src]="imgUrl('IMG_0754.JPG')">
      </div>
    </div> -->
  </div>
