.object-fit {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: block;
}

.home-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text {
  font-size: 32px;
}

.wrap {
  max-width: 550px;
}

.home-img {
  max-width: 500px;
  margin: 0 auto;
}

.img-group-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100vw;
  flex-wrap: wrap;
}
.img-grp {
  width: 16vw;
}
