<div class="testimonials-body">
    <p class="title gradient-text">Testimonials</p>
    <div class="testimonial-div">
        <div class="testimonial-img-col">
            <img *ngFor="let img of col1" class="testimonial-img" [src]="imgUrl(img)">
            <ng-container *ngIf="mobileView">
                <img *ngFor="let img of col2" class="testimonial-img" [src]="imgUrl(img)">
            </ng-container>
        </div>
        <div *ngIf="!mobileView" class="testimonial-img-col">
            <img *ngFor="let img of col2" class="testimonial-img" [src]="imgUrl(img)">
        </div>
    </div>
    
</div>