.object-fit {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: block;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,.8);
}

.home-desc {
  max-width: 50%;
  margin: 10px auto;
  text-align: center;
}

.home-img {
  max-width: 30%;
  margin: 10px auto;
}

.center {
  text-align: center;
}

p {
  margin: 10px auto;
}

a {
  color: inherit;
  font-family: inherit;
  font-weight: 300;
}

a:hover {
  border: none;
  border-bottom: 2px solid #fde1a4;
  text-decoration: none;
}

.text {
  font-size: 32px;
}

.title {
  padding-top: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.invisible {
  display: none;
}
.home-btn {
  cursor: pointer;
  font-size: 15px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: .02em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #1d1d1f;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  opacity: .8;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
  -webkit-font-smoothing: antialiased;
  border: none;
  outline: 0;
  -moz-outline-style: none;
}

.home-btn:hover {
  opacity: 1;
}

.icon {
  margin-bottom: 2px;
}
