<div class="home-body">
  <p class="title gradient-text">Welcome to Apex Trading Utopia</p>
  <p>We are a Discord community of likeminded traders and investors. </p>
  <div class="home-desc">
    <p class="gradient-text center subtitle">Our Promise</p>
    <p>At our server, we strive to promote a level of education, self-improvement, transparency, and community higher than any other stock trading Discord server.</p>
    <p class="gradient-text center subtitle">Our Mission</p>
    <p>
      Little known is that the building blocks of consistent profitability are good habits, hard work, and strict rules. 
      We hope to instill these qualities, and the self-discipline to build them, into our members and help them achieve financial freedom.
    </p>
    <p class="gradient-text center subtitle">Our Service</p>
    <div class="home-row">
      <div class="row-desc">
        <p class="row-text">
          We offer a variety of services including options alerts (see <a routerLink="/performance">Performance</a>) but again we want this server to be dedicated to self-improvement,
          where members can thrive after learning how to trade like veterans.
        </p>
        <p class="row-text">We don't want people to blindly follow these alerts, but to actually analyze them and study them. 
        </p>
        <p class="row-text">
          Why enter there? Why exit then? How did they pick key levels? How did they know where to take profit or stop out?
        </p>
        <p class="row-text">
          Study, question, learn and be rewarded.
        </p>
      </div>
      <div>
        <img class="home-img" [src]="imgUrl('clickbait4.png')">
      </div>
    </div>
  </div>
</div>
