.object-fit {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: block;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,.8);
}

.home-desc {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  min-width: 700px;
}

.home-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-img {
  max-width: 100%;
  margin: 20px;
  margin-bottom: 0;
}

.row-desc {
  max-width: 50%;
}

.row-text {
  margin: 20px;
  text-align: left;
}

.center {
  text-align: center;
}

p {
  margin: 10px auto;
}

a {
  color: inherit;
  font-family: inherit;
  font-weight: 300;
  border-bottom: 1px solid #fde1a4;
}

a:hover {
  text-decoration: none;
  background-image: linear-gradient(45deg, #e57d56, #fce0ac);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text {
  font-size: 32px;
}

.title {
  padding-top: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.invisible {
  display: none;
}
.home-btn {
  cursor: pointer;
  font-size: 15px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: .02em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #1d1d1f;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  opacity: .8;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
  -webkit-font-smoothing: antialiased;
  border: none;
  outline: 0;
  -moz-outline-style: none;
}

.home-btn:hover {
  opacity: 1;
}

.icon {
  margin-bottom: 2px;
}

@media (max-width: 768px) {
  p {
    text-align: center;
  }
  .title {
    font-size: 35px;
    text-align: center;
  }
  .title-desc {
    text-align: center;
    margin: 0 20px;
  }
  .home-desc {
    max-width: 90%;
    min-width: unset;
  }
  .row-desc {
    max-width: none;
  }
  .desc {
    margin: 0 20px;
  }
  .row-text {
    margin: 15px 20px;
  }
  .first-row {
    margin-top: 0;
  }
}