<div class="home-body">
  <div [ngClass]="{'invisible' : curPage !== 0}" class="home-imgs">
    <p class="title text">Hi. I'm Andrew.</p>
    <div class="home-img object-fit">
      <img #img1 [ngStyle]="{'height.px': images[0].height / images[0].width * 500}" class="img-src" [src]="imgUrl('IMG_2134.jpg')">
    </div>
    <p class="title text">Yup. That's me.</p>
    <div class="home-img object-fit">
      <img #img2 [ngStyle]="{'height.px': images[1].height / images[1].width * 500}" class="img-src" [src]="imgUrl('IMG_1703.jpg')">
    </div>
    <p class="title text">Now you're probably wondering...</p>
    <div class="home-img object-fit">
      <img #img3 [ngStyle]="{'height.px': images[2].height / images[2].width * 500}" class="img-src" [src]="imgUrl('IMG_1532.JPG')">
    </div>
    <p class="title text">What is up with this wacky website?!</p>
    <div class="home-img object-fit">
      <img #img4 [ngStyle]="{'height.px': images[3].height / images[3].width * 500}" class="img-src" [src]="imgUrl('IMG_1595.JPG')">
    </div>
    <div class="btn-div">
      <a class="home-btn" (click)="toPage(1)">
        Learn More
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
  </div>
  <div [ngClass]="{'invisible' : curPage !== 1}" class="home-imgs">
    <p class="title text">That is a great question.</p>
    <div class="home-img object-fit">
      <img #img5 [ngStyle]="{'height.px': images[4].height / images[4].width * 500}" class="img-src" [src]="imgUrl('IMG_8523.JPG')">
    </div>
    <div class="btn-div">
      <a class="home-btn" (click)="toPage(0)">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        Learn Less
      </a>
      <a class="home-btn" routerLink="/gallery">
        Learn More
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
  </div>
</div>
