<div class="home-body">
  <div class="home-imgs">
    <p class="title text">Hi. I'm Andrew.</p>
    <div class="home-img object-fit">
      <img #img1 [ngStyle]="{'height.px': images[0].height / images[0].width * 500}" class="img-src" [src]="imgUrl('IMG_1596.JPG')">
      <!-- [ngStyle]="{'height.px': img1.offsetHeight / img1.offsetWidth * 500}"  -->
    </div>
    <p class="title text">Yup. That's me.</p>
    <div class="home-img object-fit">
      <img #img2 [ngStyle]="{'height.px': images[1].height / images[1].width * 500}" class="img-src" [src]="imgUrl('IMG_1595.JPG')">
    </div>
    <p class="title text">Now you're probably wondering...</p>
    <div class="home-img object-fit">
      <img #img3 [ngStyle]="{'height.px': images[2].height / images[2].width * 500}" class="img-src" [src]="imgUrl('IMG_1620.JPG')">
    </div>
    <p class="title text">What is up with this wacky website?!</p>
    <div class="home-img object-fit">
      <img #img4 [ngStyle]="{'height.px': images[3].height / images[3].width * 500}" class="img-src" [src]="imgUrl('IMG_1532.JPG')">
  </div>
  </div>

</div>
