<div class="membership-body">
    <p class="title gradient-text">Membership Tiers</p>
    <div class="membership-tiers">
        <div class="tier-div">
            <p><a href="https://discord.gg/JH7bPd84Gx" target="_blank" rel="noopener noreferrer"><span class="membership">Free Membership - (Free)</span> <button class="buy-btn">Join Free</button></a></p>
            <ul>
                <li>🚨 Free Alerts</li>
                <li>💡 &nbsp;Free Trade Ideas</li>
                <li>💬 General Chat</li>
                <li>🤖 Discord Stock Bots</li>
                <li>📅 Earnings and Economic Events</li>
            </ul>
        </div>
        <div class="tier-div">
            <p><a href="https://launchpass.com/apex-trading-utopia/basic-membership" target="_blank" rel="noopener noreferrer"><span class="membership">Basic Membership - ($29)</span> <button class="buy-btn">Buy Now</button></a></p>
            <ul>
                <li>🚨 Options Alerts • 77% WR</li>
                <li>📚 Essential Educational Documents</li>
                <li>🔍 Daily Watchlist</li>
                <li>✍️ Daily Pre-market Analysis</li>
                <li>🔥 &nbsp;Trade Ideas</li>
                <li>📰 Real Time News Bot</li>
            </ul>
        </div>
        <div>
            <p><a href="https://launchpass.com/apex-trading-utopia/premium-membership" target="_blank" rel="noopener noreferrer"><span class="membership">Premium Membership - ($59)</span> <button class="buy-btn">Buy Now</button></a></p>    
            <ul>
                <li>🤑 Everything in Basic Membership</li>
                <li>🤖 Proprietary Trading Algo Alerts • 66% WR</li>
                <li>📜 Advanced Educational Documents</li>
                <li>👨‍🏫 Weekly Sunday Webinars</li>
                <li>💡 &nbsp;Q&A Help From Analysts</li>
                <li>🎞️ Daily Aftermarket Recap</li>
            </ul>            
        </div>
    </div>
</div>
